@import url('https://fonts.googleapis.com/css2?family=Yuji+Hentaigana+Akebono&display=swap');

.greet {
  padding: 40px;
  height: auto;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #aaa;
  display: flex;
  gap: 20px;

  & p {
    padding: .25rem;
  }

  @media (max-width: 768px) {
    height: fit-content;
    flex-direction: column;
  }
}

.greetWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.h1, .h2 {
  margin: 40px auto 20px;
  font-weight: bold;
  text-align: center;
}

.h1 {
  width: fit-content;
  margin-bottom: 60px;
  padding: 10px 30px;
  border-bottom: 2px solid #b5c3ff;
}

.h1Container {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid transparent;
  box-shadow: 0 8px 8px 0 #a5a5a5;
}

.h2 {
  margin-bottom: 40px;
}

.informationContainer {
  width: 70%;
  margin: 0 auto 100px;
  padding: 0 ;

  @media (max-width: 1280px) {
    width: calc(100% - 40px);
    margin: 0 20px 100px;
    padding: 0;
  }

  @media (max-width: 768px) {
    width: calc(100% - 40px);
    margin: 0 20px 100px;
    padding: 0;
  }
}

.informationWrapper {
  margin-top: 40px;
  padding: 20px;

  @media (max-width: 768px) {
    padding: 20px 0;
  }
}

.links {
  width: 400px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.link {
  width: fit-content;
  height: 20px;
  margin: 0 10px;
  text-align: center;
  display: block;
  position: relative;

  &::after {
    content: '';
    width: 120%;
    border-bottom: 1px solid #444;
    display: block;
    transition: .2s ease-in-out;
    position: absolute;
    translate: -10% 0;
    scale: 0;
  }

  &:hover::after {
    scale: 1;
  }
}

.presidentNameContainer {
  margin-top: 20px;
  align-self: flex-end;
}

.presidentName {
  padding-left: 1rem;
  font-size: 20px;
  font-family: "Yuji Hentaigana Akebono", cursive;
  font-weight: 400;
  font-style: normal;
}

.presidentPhoto {
  width: 200px;

  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    float: none;
  }
}

.rightNow {
  text-align: right;
}

.table01 {
  width: 100%;
  border-top: 1px solid #444;
  border-spacing: 0;

  & tr {
    border: 1px solid #444;
  }

  & th, td {
    padding: 10px .5rem;
    border-bottom: 1px solid #444;
  }

  & th {
    width: 20%;
    background-color: #eee;
    border-right: 1px solid #444;
    text-align: left;
  }

  & td {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .table01 {
    & tr:last-child td {
      border-bottom: none;
    }

    & th, td {
      width: 100%;
      display: block;
    }

    & th {
      width: 100%;
      border-left: 1px solid #444;
    }

    & td {
      padding-top: 0;
    }
  }
}

