$tab: 1280px;
$sp: 768px;

.allClass {
  width: 70%;
  margin-inline: auto;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 20px;

  @media (max-width: $sp) {
    width: 90%;
    margin: 40px auto 0;
    padding: 0;
    grid-template-columns: 1fr;
  }
}

.arrow {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  z-index: 2;
}

.button {
  padding: 2px 0 2px .5rem;
  background-color: #fff;
  border: none;
  text-align: left;
}

.classNameWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.companyLi {
  width: fit-content;
  margin-top: 5px;
  padding-left: .5rem;

  & span {
    font-weight: bold;
  }
}

.companyLink {
  font-size: 12px;
  width: fit-content;
  display: block;
  position: relative;

  &::after {
    content: '';
    width: 110%;
    border-bottom: 1px solid #444;
    display: block;
    transition: .2s ease-in-out;
    position: absolute;
    translate: -5% 0;
    transform-origin: 0 0;
    scale: 0 1;
  }

  &:hover::after {
    scale: 1;
  }

  @media (max-width: $sp) {
    font-size: 1rem;
  }
}

.companyUlAllClass {
  width: 100%;
  padding: 10px;
  list-style: none;
}

.handleContainer {
  width: 60%;
  margin: 0 auto 100px;
  height: auto;

  @media (max-width: $sp) {
    width: 90%;
  }
}

.h1, .h2 {
  margin: 120px auto 20px;
  font-weight: bold;
  text-align: center;
}

.h1 {
  width: fit-content;
  margin-bottom: 60px;
  padding: 10px 30px;
  border-bottom: 2px solid #b5c3ff;
}

.h1Container {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid transparent;
  box-shadow: 0 8px 8px 0 #a5a5a5;
}

.h2 {
  margin-top: 20px;
  margin-bottom: 0;
  padding: .5rem 1rem;
  background-color: #dfe5ff;
  font-weight: 400;
  text-align: left;
  position: relative;

  &::before {
    content: '';
    width: 5px;
    height: 52px;
    background-color: rgb(118, 118, 255);
    position: absolute;
    top: 0;
    left: -8px;
  }
}

.itemArrow {
  padding-top: 2px;
  font-size: .75rem;
}

.li {
  width: calc(100% - 0px);
  margin: 2px 0;
  background-color: #fff;
  border: none;
  font-size: .75rem;
  text-align: left;
  line-height: 1.5;
  cursor: pointer;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.linksHeader {
  font-size: 16px;
  font-weight: bold;
}

.link {
  width: fit-content;
  font-size: .75rem;
  text-decoration: underline;
}

.linksWrapper {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px 10px;
}

.listTitle {
  width: 100%;
  height: auto;
  margin: 10px 0;
  padding: .5rem;
  font-size: 16px;
  font-weight: bold;
  display: block;
  position: relative;
  transition: .2s ease-in-out;
  cursor: pointer;

  & span {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: '';
    width: 5px;
    height: 100%;
    background-color: rgb(118, 118, 255);
    position: absolute;
    top: 0;
    left: -8px;
  }

  &::after {
    content: '';
    width: inherit;
    height: 40px;
    background-color: rgb(118, 118, 255);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    scale: 0 1;
    transition: .2s ease-out;
    transform-origin: 0 0;
    z-index: 1;
  }

  &:hover .arrow{
    color: #fff;
  }

  &:hover span{
    color: #fff;
  }

  &:hover::after{
    scale: 1 1;
  }
}

.tradingCompany {
  margin-top: 40px;
}