$tab: 1280px;
$sp: 768px;

.allClass {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 20px;

  @media (max-width: $sp) {
    width: 90%;
    margin: 40px auto 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.button {
  padding: 2px 0 2px .5rem;
  background-color: #fff;
  border: none;
  text-align: left;
}

.companyLi {
  width: fit-content;
  margin-top: 5px;
  padding-left: .5rem;

}

.companyLink {
  font-size: 12px;
  width: fit-content;
  display: block;
  position: relative;

  &::after {
    content: '';
    width: 110%;
    border-bottom: 1px solid #444;
    display: block;
    transition: .2s ease-in-out;
    position: absolute;
    translate: -5% 0;
    scale: 0;
  }

  &:hover::after {
    scale: 1;
  }
}

.companyUl {
  width: fit-content;
  padding: 10px;
  list-style: none;
}

.groupDesc {
  width: 65%;
  height: inherit;
  border: 1px solid #444;
}

.groupDescription {
  height: 150px;
  display: flex;
  justify-content: space-between;
}

.groupDescriptionWrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.groupImage {
  width: 30%;
  height: auto;
  border: 1px solid #444;
}

.handleContainer {
  width: 60%;
  margin: 0 auto;
  height: auto;

  @media (max-width: $sp) {
    width: 90%;
  }
}

.h1, .h2 {
  margin: 120px auto 20px;
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
}

.h1 {
  width: fit-content;
  margin-bottom: 60px;
  padding: 10px 30px;
  border-bottom: 2px solid #b5c3ff;
}

.h1Container {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid transparent;
  box-shadow: 0 8px 8px 0 #a5a5a5;
}

.h2 {
  margin-top: 20px;
  padding-inline: 1rem;
  border-bottom: none;
  border-left: 5px solid blue;
  font-weight: 400;

  @media (max-width: $sp) {
    border: none;
  }
}

.itemArrow {
  padding-top: 2px;
  font-size: .75rem;
}

.li {
  width: calc(100% - 0px);
  margin: 2px 0;
  background-color: #fff;
  border: none;
  font-size: .75rem;
  text-align: left;
  line-height: 1.5;
  cursor: pointer;
  list-style: none;

  &:last-child {
    margin-bottom: 0;
  }
}

.linksContainer {
  // display: grid;
  // grid-template-columns: 1fr 3fr;
  // column-gap: 20px;

  // @media (max-width: $sp) {
  //   display: block;
  // }
}

.linksHeader {
  font-size: 16px;
  font-weight: bold;
}

.linksWrapper {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  padding: 5px 0 0 10px;
  background-color: #cae5ff;
  display: flex;
  flex-direction: column;
}

.tradingCompany {
  margin-top: 40px;
}