$tab: 1280px;
$sp: 768px;

.aboutAsButton {
  width: 150px;
  height: 40px;
  margin: 30px auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px #999;
  border: 1px solid #ccc;
  transition: .1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    translate: 2px 2px;
    box-shadow: 0px 0px 0px #999;
  }
}

.aboutUsContainer {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  width: 100%;
  min-width: 150px;
  height: auto;
  aspect-ratio: 1 / 1;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #aaa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: $tab) {
    max-width: 200px;
    margin-right: 0;
  }

  @media (max-width: $sp) {
    height: auto;
    aspect-ratio: 2 / 2.5;
  }
}

.cardWrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @media (max-width: 1280px) {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

.description {
  font-size: 12px;
  text-align: center;
}

.h2 {
  margin-bottom: 20px;
  padding: 15px 0 5px;
  background-color: #71cdff;
  text-align: center;
}

.h3 {
  margin-bottom: 10px;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  padding: 15px;
}

.space {
  flex: 1;

  @media (max-width: 1280px) {
    display: none;
  }
}

.title {
  font-size: 20px;
  text-align: center;
}