.hamburgerContainer {
  z-index: 20000;
  @media (min-width: 769px) {
    display: none;
  }
}

.link {
  text-align: center;
}

.menuBtn {
  display: none;
}

.menuWrapper {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  transform-origin: 0 0;
  top: 50px;
  left: 0;
  scale: 1 0;
  z-index: 100;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;

  &.menuOpen {
    scale: 1 1;
  }

  .menu {
    width: 100%;
    height: auto;
    background: #fff;
    list-style: none;
    transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    transform-origin: top;
    scale: 1 1;

    &.menuOpen {
      transform: scale(1, 1);
      transform-origin: top;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
    }

    a {
      width: fit-content;
      margin: 0 auto;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 16px;
      text-transform: capitalize;
      color: #000;
      display: block;
      opacity: 0;
      transition: 0.5s;
    }

    li {
      border-top: 1px solid rgb(75, 75, 75);
      margin: 0 50px;
      padding: 15px 0;
      opacity: 0;
      transition: 0.5s;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: 1px solid rgb(75, 75, 75);
      }
    }

    .liOpen {
      opacity: 1;
      transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
    }
  }
}

.menuIcon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navIcon {
  width: 26px;
  height: 3px;
  background: #71cdff;
  display: block;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;

  &.navIconOpen {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
}

.top,
.bottom {
  @extend .navIcon;
  display: block;
  position: absolute;
}

.top {
  top: 15px;

  &.Open {
    top: 24px;  transform: rotate(-45deg);
  }
}

.bottom {
  bottom: 15px;

  &.Open {
    bottom: 24px;transform: rotate(45deg);
  }
}
