.hamburgerContainer {
  @media (min-width: 769px) {
    display: none;
  }
}

.link {
  text-align: center;
}

.menu {
  width: 100%;
  height: auto;
  margin-top: 58px;
  padding: 0 0 70vh 0;
  background: #fff;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  clear: both;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;

  & a {
    width: fit-content;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    display: block;
    opacity: 0;
    transition: 0.5s;
  }

  & li {
  border-top: 1px solid rgb(75, 75, 75);
  margin: 0 50px;
  padding: 15px 0;
  opacity: 0;
  transition: 0.5s;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: 1px solid rgb(75, 75, 75);
  }
}
}

.menuOpen {
  margin-bottom: 2px solid #000;
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menu .liOpen {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menuBtn {
  display: none;
}

.menuIcon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 24px 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navIcon {
  width: 26px;
  height: 3px;
  background: #029dd9;
  display: block;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;

  &.Open {
    background: rgba(0, 0, 0, 0);
    transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  }
}

.top,
.bottom {
  @extend .navIcon;
  display: block;
  position: absolute;
}

.top {
  top: 15px;

  &.Open {
    top: 24px;  transform: rotate(-45deg);
  }
}

.bottom {
  bottom: 15px;

  &.Open {
    bottom: 24px;transform: rotate(45deg);
  }
}
