$tab: 1280px;
$sp: 768px;

.attention1 {
  width: fit-content;
  margin: 20px auto;
  color: blue;
  text-decoration: underline;
}

.attention2 {
  margin-bottom: 20px;
  padding: 20px 15px;
  background-color: #e0faff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmAttribute {
  margin-bottom: 20px;
  align-self: flex-start;
}

.confirmContainer {
  width: 60%;
  margin: 60px auto 0;

  @media (max-width: $tab) {
    width: 75%;
  }

  @media (max-width: $sp) {
    width: 90%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h1, .h2 {
  margin: 120px auto 20px;
  font-weight: bold;
  text-align: center;
}

.h1 {
  width: fit-content;
  margin-bottom: 60px;
  padding: 10px 30px;
  border-bottom: 2px solid #d0d3ffcb;
}

.h1Container {
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid transparent;
  box-shadow: 0 8px 8px 0 #a5a5a5;
}
.icon {
  width: 30px;
  height: 30px;
}

.section {
  padding: 20px;
  border-top: 1px solid #ccc;
}

.span{
  display: inline-block;
  height: 42px;
  line-height: 1.5;
}

.submit {
  width: 200px;
  height: 40px;
  margin: 20px 0;
  border-radius: 5px;
  border: none;
  background-color: rgb(195, 195, 255);
  color: #fff;
  font-size: 20px;
}