$tab: 1280px;
$sp: 768px;

.openFooter {
  bottom: 0 !important;
}

.arrowContainer {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  background-color: #71cdff;
  color: #fff;
  transition: .2s ease-in;
  display: flex;
  justify-content: center;
  position: relative;
}

.arrowReverse {
  transform: rotateX(180deg);
}

.arrowSwitch {
  display: none;
}

.footer {
  width: 100%;
  height: fit-content;
  padding-block: 40px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease-out;
  z-index: 25;
  position: relative;

  .admin {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -20px;
    bottom: -20px;
    cursor: default;
  }

  .informationContainer {
    display: flex;
    margin-bottom: 40px;

    .informationWrapper {
      width: 100%;
      margin: 20px auto;
      padding-inline: 20px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: $sp) {
        flex-direction: column;
        gap: 20px;
      }

      .information {
        font-size: .8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 20px;

        .informationAddress {
          padding-left: 1rem;

          .address {
            display: flex;
            flex-wrap: wrap;
          }
          .tel {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
          }
        }

        .nintei {
          width: 36px;
          height: auto;

          @media (max-width: $sp) {
            width: 78px;
          }
        }

        @media (max-width: $sp) {
          padding-left: 1rem;
          font-size: 1rem;
        }
      }

      .logo {
        width: 300px;
        height: auto;
        aspect-ratio: 25 / 3;
      }
    }
  }

  .small {
    margin-bottom: 10px;
    color: #444;
  }
}

