.missionContainer {
  padding: 40px 0;
}

.missionImage {
  width: 100%;
  aspect-ratio: 19 / 6;
  background: url('/images/mission/mission.jpg') 0 0 no-repeat;
  background-size: 100% auto;
}

.missionWrapper {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.h2 {
  width: 100%;
  margin-bottom: 40px;
  padding: 15px 0 5px;
  background-color: #71cdff;
  text-align: center;
}