$tab: 1280px;
$sp: 768px;

.addSpace {
  padding-bottom: 40px;
}

.missionContainer {
  height: fit-content;
  padding: 40px 40px 0;
  position: relative;

  h2 {
    margin-bottom: 20px;
  }


  @media (max-width: $sp) {
    padding-inline: 20px;
  }
}

.missionImage {
  width: 100%;
  min-height: 660px;
  aspect-ratio: 19 / 6;
  background: url('/images/mission/mission.jpg') 50% 50% no-repeat;
  background-size: contain;

  @media (max-width: $tab) {
    aspect-ratio: 19 / 14;
    background-size: cover;
    background: url('/images/mission/missionTAB.jpg') 50% 50% no-repeat;
  }

  @media (max-width: $sp) {
    min-height: 0;
    aspect-ratio: 19 / 15;
    background: url('/images/mission/missionSP.jpg') 50% 50% no-repeat;
    background-size: cover;
    position: relative;
    inset: 0 0 40px;
  }
}

.missionTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 1rem;
}