.missionContainer {
  padding: 40px;
}

.missionImage {
  width: 100%;
  height: 100%;
}

.missionWrapper {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

.h2 {
  width: 100%;
  margin-bottom: 40px;
  padding: 15px 0 5px;
  background-color: #71cdff;
  text-align: center;
}