.toTopButton {
  width: 150px;
  height: 150px;
  background-color: #fff;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  transition: .2s ease-in-out;
  z-index: 100;

  @media (max-width: 768px) {
    display: none;
  }
}

.upArrow {
  width: 70px;
  height: auto;
  color: #000;
  position: fixed;
  right: 15px;
  bottom: 5px;

  &:hover {
    animation: toTopHover .3s ease-in-out;
  }

  @keyframes toTopHover {
    0% {transform: translateY(0);}
    25% {transform: translateY(-10%);}
    50% {transform: translateY(0);}
    75% {transform: translateY(-5%);}
    100% {transform: translateY(0);}
  }
}