$tab: 1280px;
$sp: 768px;

.announcementContainer {
  padding: 40px;

  @media (max-width: $tab) {
    padding: 40px 0;
  }
}

.announcementContent {
  width: 100%;
  font-size: 0.8rem;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // white-space: nowrap;
  transition: .2s ease-in-out;
  transform-origin: 0 0;
  display: grid;
  grid-template-rows: 0fr;
  transition: .2s grid-template-rows ease;

  & div {
    overflow: hidden;
  }

  &.open {
    grid-template-rows: 1fr;
  }
}

.announcementContentWrapper {
  width: 100%;
  height: fit-content;
}

.announcementDate {
  width: 30%;
}

.announcementHeader {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.announcementLi {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-bottom: 1px solid #444;
  display: flex;
  flex-direction: column;
  position: relative;
}

.announcementSelectTag {
  width: fit-content;
  min-width: 70px;
  height: 24px;
  margin-left: 5px;
  padding: 2px 5px;
  background-color: #fff;
  border: 1px solid;
  font-size: 0.75rem;
  text-align: center;
}

.announcementTag {
  width: 80px;
  padding: 2px;
  border: 1px solid;
  border-radius: 0px;
  font-size: 0.75rem;
  text-align: center;
}

.announcementTitle {
  font-weight: bold;
}

.announcementUl {
  height: auto;
}

.announcementWrapper {
  width: 80%;
  height: auto;
  margin: 0 auto 100px;
  margin-inline: auto;

  @media (max-width: $sp) {
    width: 90%;
    margin: 0 auto;
  }
}

.arrow {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: .2s ease-in-out;

  &.open {
    transform: rotateX(180deg);
  }
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.confirm {
  @extend .submit;
  width: 50%;
  margin-inline: auto;
  padding: 10px 20px;
  background-color: #71cdff;
  border: 2px solid #2986ff;
  transition: .2s all;

  &:hover {
    background-color: #2986ff;
    color: #fff;
  }
}

.h2 {
  width: fit-content;
  margin: 0 auto 50px;
  text-align: center;
}

.loginFormContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.inputContent {
  width: 100%;
  height: 15rem;
  padding: 5px;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
}

.inputTag,
.inputTitle,
.selectBox {
  height: 2rem;
  padding: 5px;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
}

.inputTag {
  width: 50%;
}

.inputTitle {
  width: 100%;
}

.loginFormContainer {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.message,
.select,
.tag,
.title {
  height: 3rem;
  padding: 10px;
}

.message {
  width: 100%;
  height: 10rem;
}

.modify {
  @extend .submit;
  margin-left: 20px;
  background-color: #a7a7a7 !important;

  &:hover {
    background-color: #bdbdbd !important;
    color: #fff;
  }
}

.postFormContainer {
  width: 50%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.return {
  width: 200px;
  margin-inline: auto;
  padding: 10px 20px;
  background-color: #a5a5a5;
  border: 2px solid #696969;
  color: #fff;
  transition: .2s all;

  &:hover {
    background-color: #daeaff;
    color: #000;
  }
}

.selectBox {
  width: 8rem;
  height: 2rem;
}

.submit {
  width: 100%;
  height: calc(2rem + 20px);
  margin-inline: auto;
  background-color: #76b6ff;
  border: none;
  border-radius: 5px;
  color: #444;
  cursor: pointer;
  transition: .2s all;

  &:hover {
    background-color: #2949ff;
    color: #fff;
  }
}

.tagWrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}


