.description {
  padding-left: 2rem;
}

.h1 {
  width: fit-content;
  margin: 0 auto 60px;
  padding: 10px 30px;
  border-bottom: 2px solid #d0d3ffcb;
  text-align: center;
  font-weight: bold;
}

.link {
  color: blue;
  text-decoration: underline;
}

.policyContainer {
  width: 60%;
  height: 2100px;
  margin-inline: auto;
}

.scope {
  width: 95%;
  margin: 0 auto 2rem;
  padding: 1rem 2rem;
  background-color: #e8e8e8;
}