$tab: 1280px;
$sp: 768px;

// .information {
//   margin-left: 40px;
//   font-size: .8rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
// }

.informationContainer {
  width: 100%;
  margin: 20px 0;
  color: #444;

  @media (max-width: $sp) {
    margin: 0;
    background-color: #fff;
    position: absolute;
    bottom: 90px;
    display: none;
  }
}

.informationWrapper {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 1000px) {
    width: 100%;
    align-items: center;
  }
}

.sitMap {
  width: fit-content;
  margin-inline: auto;
  padding-inline: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;

  & div {
    & h4 {
      width: fit-content;
      padding: 0 5px;
      border-bottom: 1px solid #444;
    }

    & p {
      width: fit-content;
      margin: 5px 0 0 .5rem;
      font-size: .75rem;
      white-space: nowrap;
      position: relative;

      &::after {
        content: '';
        width: calc(100% + 3px);
        height: 100%;
        border-bottom: 1px solid #444;
        transition: .2s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        transform-origin: 0 0;
        scale: 0 1;
      }

      &:hover::after {
        scale: 1;
      }
    }

    & .informationHandleItems {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
  }

  .policy {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: relative;
  }
}

.logo {
  width: 500px;
  height: auto;
  aspect-ratio: 25 /3;

  @media (max-width: $tab) {
    width: 400px;
  }

  @media (max-width: $sp) {
    width: 300px;
  }
}
